.Pics{
display:block;
}
.Pics > div{
width:200px;
height:200px;
border:1px solid black;
margin:25px;
}
.Pics > div > img{
width:200px;
height:200px;
}
.AddChannel{
outline:none;
border:none;
cursor:pointer;
width:200px;
height:50px;
background:lightblue;
font-size:15px;
color:red;
font-family:arial;
margin-top:25px;
}
.AddChannel:hover{
background:blue;
color:white;

}
.SubmitAlert{
width:200px;
height:200px;
background:purple;
border:1px solid black;
margin-top:30px;
display:none;

}
.SubmitAlert > a{
color:white;
text-decoration:none;
background:black;
}
.x{
background:red;
color:white;
border:none;
cursor:pointer;
}
@media screen and(max-width:928px){
.Pics{
display:block;
}
.Pics > div > img{
width:150px;
height:150px;
}
header > ul > li > h1{
display:none;

}
.Pics > div > a{
text-decoration:none;
outline:none;
border:none;
}
